/*Hack font*/
/*http://sourcefoundry.org/hack/#download*/
@import url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css');

/*colors*/
@import url('css/colors.css');

:root {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Hack';
    font-weight: bold;
}


everything
    display: inline-flex
    flex-direction: row
    justify-content: center
    background-color: $black
    max-width: 800px
    color: $green
    font-size: $x2
    line-height: 1.4
    padding: $x1

blog-list
    display: inline-flex
    flex-direction: column

blog-list-item
    background: $green-med
    color: $black
    text-decoration: none
    display: block
