/*Hack font*/
/*http://sourcefoundry.org/hack/#download*/
@import url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css');

/*colors*/
@import url('/css/colors.css');

* {
    margin: 0;
    border: 0;
}

html {
    padding: 10px;
    font-family: 'Hack', monospace;
    font-weight: bold;
    background-color: var(--black);
    color: var(--green);

    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    line-height: 1.4;
}

body {
    max-width: min(100vw, 600px);
}

.blog-list {
    display: inline-flex;
    flex-direction: column;
}

.blog-list-item {
    background: var(--green-med);
    color: var(--black);
    text-decoration: none;
    display: block;
}
