/*Hack font*/
/*http://sourcefoundry.org/hack/#download*/
@import url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css');

/*colors*/
@import './colors.css';

:root {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Hack', monospace;
    font-weight: bold;
}

code {
    white-space: pre;
}

body {
    background-color: var(--green-med);
    color: var(--black);
    line-height: 1.4;
}

body a {
    background: var(--green-dark);
    color: var(--green-med);
    text-decoration: none
}

body.post-content {
    background: var(--black);
    color: var(--green);
    max-width: 800px;
    padding: 10px;
    margin: 30px;
}

body.post-content a {
    background: var(--green-med);
    color: var(--green-dark);
}

body.post-content h1 {
    margin-top: 0;
}
