/*Hack font*/
/*http://sourcefoundry.org/hack/#download*/
@import url('cdn.jsdelivr.net/font-hack/2.019/css/hack.css');

/*colors*/
@import url('css/colors.css');

*
    padding: 0
    margin: 0
    border: 0
    font-family: 'Hack'
    font-weight: bold

body
    background-color: $green-med
    color: $black
    font-size: $x2
    line-height: 1.4
    padding: $x1
    
    a
        background: $green-dark
        color: $green-med
        text-decoration: none
    
    .post-content
        background: $black
        color: $green
        max-width: 800px
        padding: $x2
        margin: $x1
        
        a
            background: $green-med
            color: $green-dark

        h1
            margin-top: $x2
