/*Hack font*/
/*http://sourcefoundry.org/hack/#download*/
@import url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css');

/*colors*/
@import url('/css/colors.css');

* {
    font-family: 'Hack', monospace;
    font-weight: bold;
    background-color: var(--black);
    color: var(--green);
}
