/*Hack font*/
/*http://sourcefoundry.org/hack/#download*/
@import url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css');

* {
    margin: 0;
    border: 0;
}

html {
    /* colors */
    --page-background-color: #F2E3BC;
    --page-text-color: #000;
    --list-item-background-color: #EAD191;
    --list-item-text-color: #000;

    padding: 10px;
    font-family: 'Hack', monospace;
    font-weight: bold;
    background-color: var(--page-background-color);
    color: var(--page-text-color);

    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    line-height: 1.4;
}

body {
    max-width: min(100vw, 600px);
}

.list {
    display: inline-flex;
    flex-direction: column;
}

.list-item {
    background: var(--list-item-background-color);
    color: var(--list-item-text-color);
    text-decoration: none;
    display: block;
}
