/*Hack font*/
/*http://sourcefoundry.org/hack/#download*/
@import url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css');

html {
    --page-background-color: #080;
    --page-text-color: #000;

    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Hack', monospace;
    font-weight: bold;
}

code {
    white-space: pre;
}

body {
    background-color: #080;
    color: #000;
    line-height: 1.4;
}

:is(h1, h2, h3, h4, h5, h6) {
    margin-bottom: 5px;
}

:is(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) {
    margin-top: 0;
}

:is(h1, h2, h3, h4, h5, h6) + * {
    margin-top: 0;
}

a {
    background: #020;
    color: #080;
    text-decoration: none
}

code {
    display: block;
    margin-top: -15px;
}

.post-content {
    background: #000;
    color: #0F0;
    max-width: 800px;
    padding: 10px;
    margin: 30px;
}

.post-content a {
    background: #080;
    color: #020;
}

.post-content h1 {
    margin-top: 0;
}
