/* handwriting-ish font */
@import url('https://fonts.cdnfonts.com/css/tex-gyre-chorus');

.poetry, .stories {
    --page-background-color: #7E197E;
    --list-item-background-color: #A921A8;
    --text-color: #000;
    --text-font: 'TeX Gyre Chorus', sans-serif;
}

* {
    margin: 0;
    border: 0;
}

html {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: var(--text-font);
    font-weight: bold;
}

html {
    padding: 10px;
    font-family: var(--text-font);
    font-weight: bold;
    background-color: var(--page-background-color);
    color: var(--page-text-color);

    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    line-height: 1.4;
}

body {
    max-width: min(100vw, 600px);
}

.list {
    display: inline-flex;
    flex-direction: column;
}

.list-item {
    background: var(--list-item-background-color);
    color: var(--list-item-text-color);
    text-decoration: none;
    display: block;
}
